kind: Service
apiVersion: v1
metadata:
  name: servicio-cliente-ci-cd
spec:
  type: LoadBalancer
  selector:
    # Esta etiqueta la usa k8s para buscar el pod
    # al que le enviara el trafico. Un error aqui 
    # hara que no funcione el ruteo.
    app: servicio-cliente-ci-cd
  ports:
  - protocol: TCP
    port: 8081
    name: http
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: servicio-cliente-ci-cd
spec:
  rules:
  - http:
      paths:
      - path: /api/v1/clienteunico/clientes.*
        backend:
          serviceName: servicio-cliente-ci-cd
          servicePort: 8081
    

